# CONFIG_INET is not set
# CONFIG_NETWORK_SECMARK is not set
# CONFIG_NETWORK_PHY_TIMESTAMPING is not set
# CONFIG_NET_SCHED is not set
# CONFIG_DCB is not set
# CONFIG_DNS_RESOLVER is not set
# CONFIG_PCPU_DEV_REFCNT is not set
# CONFIG_CGROUP_NET_PRIO is not set

#
# DRBD disabled because PROC_FS or INET not selected
#
# CONFIG_NETDEVICES is not set

#
# Enable PHYLIB and NETWORK_PHY_TIMESTAMPING to see the additional clocks.
#
