# CONFIG_MTD_CMDLINE_PARTS is not set
# CONFIG_MTD_OF_PARTS is not set
# CONFIG_MTD_BLOCK is not set
# CONFIG_MTD_BLOCK_RO is not set
# CONFIG_MTD_CFI is not set
# CONFIG_MTD_RAW_NAND is not set
# CONFIG_MTD_NAND_ECC_SW_HAMMING is not set
# CONFIG_MTD_UBI is not set
# CONFIG_BLK_DEV_RAM is not set
# CONFIG_VIRTIO_BLK is not set
# CONFIG_AD525X_DPOT is not set
# CONFIG_ICS932S401 is not set
# CONFIG_APDS9802ALS is not set
# CONFIG_ISL29003 is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_EEPROM_93CX6 is not set
# CONFIG_SCSI is not set
# CONFIG_SERIO is not set
# CONFIG_SPI is not set
CONFIG_GPIO_SYSFS=y
# CONFIG_GPIO_DWAPB is not set
# CONFIG_GPIO_GENERIC_PLATFORM is not set
# CONFIG_GPIO_PL061 is not set
# CONFIG_GPIO_SYSCON is not set
# CONFIG_GPIO_XILINX is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_BATTERY_BQ27XXX is not set
# CONFIG_BATTERY_MAX17040 is not set
# CONFIG_BATTERY_MAX17042 is not set
# CONFIG_CHARGER_GPIO is not set
# CONFIG_HID is not set
# CONFIG_USB_R8A66597_HCD is not set
# CONFIG_USB_ACM is not set
# CONFIG_TYPEC_UCSI is not set
# CONFIG_TYPEC_STUSB160X is not set
# CONFIG_LEDS_TRIGGER_AUDIO is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set
