[Unit]
Description=sdds for cpu 
After=systemd-modules-load.service

[Service]
Type=simple
#RemainAfterExit=yes
Restart=on-failure
ExecStart=/usr/local/bin/receiver > /dev/null 2>&1

KillSignal=SIGINT

SyslogIdentifier=rscontrol

[Install]
WantedBy=multi-user.target
