[Unit]
Description=sdds for cpu 
After=gpioint.service

[Service]
Type=simple
#RemainAfterExit=yes
Restart=on-failure
ExecStart=/usr/bin/receiver2 > /dev/null 2>&1

KillSignal=SIGINT

SyslogIdentifier=rscontrol

[Install]
WantedBy=multi-user.target
