[Unit]
Description=sdds for sdnl 
After=gpioint.service

[Service]
Type=simple
#RemainAfterExit=yes
Restart=on-failure
ExecStart=/usr/bin/mscontrol > /dev/null 2>&1

KillSignal=SIGINT

SyslogIdentifier=mscontrol

[Install]
WantedBy=multi-user.target
