[Unit]
Description=gpioint for sdds
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog

#Restart=on-failure
ExecStart=/usr/bin/gpioint start > /dev/null 2>&1
ExecStop=/usr/bin/gpioint stop > /dev/null 2>&1

SyslogIdentifier=gpioint

[Install]
WantedBy=multi-user.target

